</head>
<body>

<div id="header-wrapper">
	<div id="header" class="instructor">
		<br>About Us<br><br><br>
		<table><tr><td><div id="triangle-up"></div></td></tr></table>
	</div>
</div>
<div id="menu-wrapper">
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="/" accesskey="3" title="">Search</a></li>
				<!-- <li class="current_page_item"><a href="help" accesskey="5" title="">About Us</a></li> -->
			</ul>
		</div>
</div>
<div id="wrapper">
	<div id="featured-wrapper">
	
		<div class="extra2 container">
			<div class="ebox1">
				<div class="title">
					<!-- <h2>Alex, Sam and Cris made this</h2> -->
					<span class="byline">Faculty-Course Questionaires made easy</span>
				</div>
				<p>Alex Tsankov-Sophomore at CU Boulder-Computer Science Major-Philosophy Minor
				<br>
				<p>Sam Volin-Sophomore at CU Boulder-Computer Science Major-Math Minor
				<br>
				<p>Cris Salazar-Sophomore at CU Boulder-Computer Science Major-Economics Minor
				<br>
			</div>			

		</div>	

	</div>
</div>
</body>
</html>