<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>About - CUFCQ</title>



<body>
  <div class="container">
    <div class="ebox1">
			<br>
			<h3>Faculty/Course Questionnaires made easy!</h3>
			<p> This website was made to help better understand the FCQ data found at <a href='http://www.colorado.edu/fcq/' target="_blank"> CU's own FCQ website</a>. All of the data on our site is directly pulled from official data stores and we try to keep it as recent as possible. The most recent FCQ download we made was for Spring 2015. We hope you find the website useful for understanding teacher performance and course stats. Feel free to check out the <a href="https://github.com/cufcq/cufcq" target="_blank">source on github and submit a pull request if you feel anything can be done better.</a></p>
			<br>

			<h3>Creators:</h3>
			<p><a href='http://antsankov.github.io/' target="_blank">Alex Tsankov </a>- Senior at CU Boulder: Computer Science / Philosophy Major</p>
			<p><a href='https://github.com/untra' target="_blank">Samuel Volin </a>- Senior at CU Boulder: Computer Science / Mathematics  Major</p>

			<h3>Design:</h3>
			<p><a href='http://www.rileymcmathwalker.com/' target="_blank"> Riley Walker </a>- Senior at CU Boulder: Advertising Major </p>

			<h3>Contact: </h3>
			<p>It doesn't matter, we want to hear it. Send us an email at <a href="mailto:boulder.cufcq@gmail.com" target="_top">boulder.cufcq@gmail.com</a>. Please mention any bugs to our <a href="https://github.com/cufcq/cufcq/issues">github issue tracker.</a></p>

			<h3>Disclaimer:</h3>
			<p> Besides being students, we don't have any official affiliation with the University of Colorado or the FCQ office. We try to keep our results updated as often as possible, but we won't make any guarantees about the accuracy of our site. For more information, see our <%= link_to "disclaimer", "/disclaimer" %>.</p>
    </div>
  </div>
</body>
</html>
