</head>
<body>

<div id="header-wrapper">
	<header class="navbar navbar-inverse">
        <nav>
          	<ul class="nav pull-right">
           		<li><%= link_to "Sign In", '#' %></li>
            	<li><%= link_to "Home", '#' %></li>
           		<li><%= link_to "Help", '#' %></li>
         	</ul>
       	</nav>
	</header>
	<div id="header" class="container">
		<th> Search like you give a FCQ
	</div>

	<div id="triangle-up"></div>
	</div>
	
</div>
<div id="menu-wrapper">
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="#" accesskey="1" title="">About Us</a></li>
			</ul>
		</div>
</div>
<div id="wrapper">
	<div id="featured-wrapper">
		<p>This is a website designed to help you find everything about CU teachers and courses, and their past track records.
		<br>	


	</div>
</div>
</body>
</html>
