</head>
<body>

<div id="wrapper">
	<div id="featured-wrapper">
	
		<div class="extra2 container">
			<div class="ebox1">

				<h1>Faculty/Course Questionnaires made easy!</h1>

				<p> This website was made to help better understand the FCQ data found at <a href='http://www.colorado.edu/fcq/' target="_blank"> CU's own FCQ website</a>. All of the data on our site is directly pulled from official data stores and we try to keep it as recent as possible. The most recent FCQ download we made was for Fall 2014. We hope you find the website as useful for signing understanding teacher performance and course stats. Feel free to check out the <a href="https://github.com/antsankov/cufcq_dev" target="_blank">source on github and submit a pull request if you feel anything can be done better.</a></p>

				<h1>Creators:</h1>

				<p><a href='http://antsankov.github.io/' target="_blank"> Alex Tsankov</a> -Junior at CU Boulder: Computer Science/Philosophy Major
				<br>
				<p><a href='https://github.com/untra' target="_blank">Samuel Volin </a> -Junior at CU Boulder: Computer Science/Math Major</p>
				<br>

				<h1>Disclaimer:</h1>

				<p> Besides being students, we don't have any official affiliation with the University of Colorado or the FCQ office. We try to keep our results updated as often as possible, but we won't make any guarantees about the accuracy of our site.</p>
			</div>			

		</div>	

	</div>
</div>
</body>
</html>
