</head>
<body>
<title>Disclaimer - CUFCQ</title>
<div id="wrapper">
    <div id="featured-wrapper">
    
        <div class="extra2 container">
            <div class="ebox1">

                <h1>Disclaimer<br>
                </h1>
                Besides being students, we don't have any official affiliation with the University of Colorado or the FCQ office. We try to keep our results updated as often as possible, but we won't make any guarantees about the accuracy of our site. That said...<br>
                <div class="alert alert-danger" role="alert"><b>CUFCQ is not affiliated with the University of Colorado. The creators of CUFCQ accept no liability for the content of this website, for the accuracy of the information provided, or for the consequences of any actions taken on the basis of the information provided.</b></div>

                <h2><small>Data Sources</small></h2>
                These are the raw data sources we used:<br> 
                <ul>
                    <li><a href="https://fcq.colorado.edu/UCBdata.htm">FCQ Data</a></li>
                    <li><a href="https://fcq.colorado.edu/UCBdata.htm">Grades Data</a></li>
                    <li><a href="http://www.colorado.edu/pba/course/IGroup_Detail.xlsx">List of Courses</a></li>
                </ul>
                Everything else- Instructor names, Course Credits, Department Codes, Enrollment, etc.- was percolated and extrapolated from these data sources. 

                <h2><small>Accuracy of Data</small></h2>
                The raw information for this project was collected, aggragated, and graciously provided by the Office of Planning and Budget. The methodology of collecting and recording grades and FCQ scores can be found on <a href="http://www.colorado.edu/fcq/FAQinfo.htm"> here</a>.<br>

                <br>
            </div>          

        </div>  

    </div>
</div>
</body>
</html>
