</head>
<body>

<div id="wrapper">
    <div id="featured-wrapper">
    
        <div class="extra2 container">
            <div class="ebox1">

                <h1>Feedback<br>
                <small>Questions? Comments? Concerns? Criticisms? Kumquats?</small>
                </h1>

                It doesn't matter, we want to hear it. Send us an email at <a href="mailto:boulder.cufcq@gmail.com" target="_top">boulder.cufcq@gmail.com</a>. Please mention any bugs to our <a href="https://github.com/cufcq/cufcq/issues">github issue tracker.</a>
            </div>          

        </div>  

    </div>
</div>
</body>
</html>
