</head>
<body>

<div id="header-wrapper">
	<div id="header" class="instructor">
		<br>Help<br><br><br>
		<table><tr><td><div id="triangle-up"></div></td></tr></table>
	</div>
</div>
<div id="menu-wrapper">
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="/" accesskey="3" title="">Search</a></li>
				<!-- <li class="current_page_item"><a href="help" accesskey="5" title="">Help</a></li> -->
			</ul>
		</div>
</div>
<div id="wrapper">
	<div id="featured-wrapper">
	
		<div class="extra2 container">
			<div class="ebox1">
				<div class="title">
					<!-- <h2>Alex, Sam and Cris made this</h2> -->
					<span class="byline">Faculty-Course Questionaires made easy</span>
				</div>
				<p>This is a website designed to help you find everything about CU teachers and courses. To find an instructor, simply check the "Search by Instructor" box and type in their first and last name. If you are searching for a course, check the "Search by class" box and type in the course title or the course catalog number. This website is designed to be as simple and user friendly as possible. If you have any suggestions that you feel would make it better contact us at <a href="mailto:boulder.cufcq@gmail.com" target="_top">boulder.cufcq@gmail.com</a>. 
				<br>
			</div>			

		</div>	

	</div>
</div>
</body>
</html>