<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>RateMyBuffs - CUFCQ</title>

</head>

<body>
  <div class="container">

    <div class="ebox1">

        <h1>RateMyBuffs<br>
            <small>Created by Conner Simmering, Justin Olson, Samuel Volin<br>
                <a href="https://chrome.google.com/webstore/detail/ratemybuffs/acmpjoojinfcfpamnhnmkmpfipmagige"> Install from the Chrome Store</a><span class="badge">NEW</span>
            </small>
        </h1>
        <h2>The CU class registration page is a dinosaur. <br>With the <b>RateMyBuffs</b> Chrome extension you can slay that dinosaur.</h2>


        <div class="col-md-11">
            <div class="thumbnail">
                <%= image_tag "ratemybuffs-screen.png"%>
              <div class="caption">
              <h4>RateMyBuffs</b> is a chrome extension that displays University of Colorado Boulder instructor and course ratings from inside the MyCUInfo course registration pages. This extension helps students quickly compare instructors and classes, and optimize their class schedules.<br><br>

        RateMyBuffs links directly to professor and class cufcq.com pages, providing detailed and accurate data regarding individual professors and classes.<br><br>

        Plan your next semester like a boss.
        </h4>
        <a href="https://chrome.google.com/webstore/detail/ratemybuffs/acmpjoojinfcfpamnhnmkmpfipmagige" type="button" class="btn btn-primary navbar-btn"><b>Install from the Chrome Store</b></a>

            </div>
        </div>
    </div>

    <br>
    </div>

  </div>
</body>
</html>
