<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Thanks for all of this fish!</title>

<body>
  <div class="container">
    <div class="ebox1">
      <br>
      <h3>So long, and thanks for all the fish!</h3>
      <p> CUFCQ has been a tremendous project for us, and we are glad to have worked hard to make it possible. We wanted to make a new version of it, updated with sexy new graphs and cool charts, but it has occured to us that our hearts weren't in it. We have graduated from CU, and we have no intention of coming back to this project.</p>
      <br>
      <p> <b> As a result, CUFCQ will not be updated in the future. The data here is final - with all FCQ information up to Spring 2015.</b> </p>
      <br>
      <p>  We have a number of projects with lots of data that was chewed on across all fcqs. If you are a computer science or graduate student at CU, and you are interested in continuing this work, there is a great starting point in <a href="https://github.com/SFII/cufcq-new">this repository.</a> If you have any questions on continuing this work, we are happy to help. If you would like access to a magnificent JSON database of information for machine learning purposes, please look <a href="https://github.com/SFII/cufcq-new/blob/master/rethinkdb_dump_2016-04-24.tar.gz">here</a>.</p>
      <br>
      <p> There is a big warning we would like to give to any student researchers interested in performing data analysis on FCQ results: <i>the Faculty-Course Questionnaire issued by the University of Colorado do not give any meaningful or insightful information that a department head doesn't already know.</i> We believe the questions, the arbitrary scale of one-through-six answers, and the inaccesibility of the data to university researchers makes the entire Faculty Course Questionnaire an exercise in futility. Don't get us wrong; there are gems in this dataset that can be mined with due dilligence and hard work (we did a lot of that work). But the self-reflective surveys issued by The University are poorly organized, ask the wrong questions, and do not provide the most meaningful insights they advertise they could. FCQs can be so much better, but it means significantly changinging the survey, asking different questions, and encouraging an administration to cooperate and coordinate beyond what is expected of them.</p>
      <br>
      <p> We can talk for hours about ways to improve the FCQ system, but at this point we are too exhausted to continue. As graduates, we have no mandate to update this website. This project has helped us learn how to be good software engineers. It gave us an understanding of project management, design patterns, web frameworks and databases. It even helped us kickstart our careers! We would like to encourage other CS students to continue our work, and do a better job than we did. The exercise of studying these results and building this website has taught us more than the fcq data ever did. If you would enjoy the same experience we had, and want to learn how to continue this work, let us know. We always want to help.</p>
      <br>
      <p>Sincerely,</p>
      <p><a href='https://antsankov.github.io/' target="_blank">Alex Tsankov </a>- Graduate from CU Boulder: Computer Science / Philosophy Major</p>
      <p><a href='https://untra.github.io/about' target="_blank">Samuel Volin </a>- Graduate from CU Boulder: Computer Science / Mathematics  Major</p>
    </div>
  </div>
</body>
</html>
