<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>
  <body>

  <title>Departments - CUFCQ</title>
    <div class="input-group">
      <form accept-charset="UTF-8" action="/departments" method="get" margin-top=0px margin-bottom=0px>
    </div>

    <div class="col-xs-6">
      <br>
      <br>
      <div class="input-group">
        <form accept-charset="UTF-8" action="/departments" method="get">
          <div style="margin:0;padding:0;display:inline">
          <input name="utf8" type="hidden" value="&#x2713;"/></div>
          <input class="form-control" id="search" name="search" type="text" />
          <span class="input-group-btn" >
            <%= submit_tag "Search", :name => nil, :class=> "btn btn-danger" %>
          </span>
      </div>
    </div>

      <div class="col-xs-3 visible-lg">
        <h1 vertical-align="top ">Departments
        </br>
        <small><%= @departments.total_count() %> results</small>
        </h1>
      </div>
    </div>
    </div>
  </div>
  </div>
  </br>

  <div class="table-responsive">
    <div id="department_index_table">
      <%= render 'departments/department_index_table'%>
    </div>
  </div>
