<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>

  <body>
  <title>Courses - CUFCQ</title>
    <div class="input-group" max-width=0px height=0px>
      <form accept-charset="UTF-8" action="/courses" method="get">
    </div>

    <div class="col-xs-6">
      <br>
      <br>
      <div class="input-group">
        <form accept-charset="UTF-8" action="/courses" method="get">
          <div style="margin:0;padding:0;display:inline">
          <input name="utf8" type="hidden" value="&#x2713;"/></div>
          <input class="form-control" id="search" name="search" type="text" />
          <span class="input-group-btn" >
            <%= submit_tag "Search", :name => nil, :class=> "btn btn-danger" %>
          </span>
      </div>
    </div>

      <div class="col-xs-3 visible-lg">
        <h1 vertical-align="top ">Courses
        </br>
        <small><%= @courses.total_count() %> results</small>
        </h1>
      </div>
    </div>
    </div>
  </div>
  </div>
  </br>


  <!-- <h2 class="sub-header">courses</h2> -->
  <div class="table-responsive">
    <div id="course_index_table"><%= render 'courses/course_index_table'%></div>
  </div>
