body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}


h1, h2, h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
h1 { font-size: 3em;  }
h2 { font-size: 2.7em; }
h3 { font-size: 2.3em; }
h4 { font-size: 1.9em; }



p, ol, ul {font-size: 1.2em; line-height: 1.4em; color: #333; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 11px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 20em;
    list-style: square;
  }
}


      form {
                width:500px;
                margin:50px auto;
      }
      .search {
                      padding:8px 15px;
                      background:rgba(50, 50, 50, 0.2);
                      border:0px solid #dbdbdb;
      }
      .button {
                      position:relative;
                      padding:3px 14px;
                      left:-8px;
                      border:2px solid #9BBBA3;
                      background-color:#207cca;
                      color:#000000;
      }
      .button:hover  {
                      background-color:#fafafa;
                      color:#207cca;
      }
