<% @course.overall_query  %>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>

<script type="text/javascript">
  $(function () {
    var chart = new Highcharts.Chart({
      title: {text: null
          },
      chart: { renderTo: 'container' },
        legend: {
            enabled: true
        },
        xAxis: {
            tickPositions: [],
            type: 'category',
            categories: []
        },
        yAxis: {
          max: 6,
          min: 0,
          title: {
            text: null
            }
        },
      tooltip: {
        shared: true,
        valueSuffix: ' students',
        formatter: function () {
          var n = this.x%10
          var y = Math.floor(this.x/10);
          var s = n == 1 ? "Spring " : n==4 ? "Summer " : n==7 ? "Fall " : "Error "
          var parsed = s+y+" : "+this.y
          return (this.y >= 1.0) ? parsed : parsed+"<br/>NOTE: during this semester, the instructor(s) of <br/>these course(s) did not return any FCQs. As a result, <br/>this value is marked as 0.0. Student's cannot <br/>actually mark scores lower than 1.0. This <br/>value is meant to serve as an indicator <br/>of an error."
          return s+y+" : "+this.y
      }
    },
    exporting: {
        buttons: {
            contextButtons: {
                enabled: false,
                menuItems: null
            }
        },
        enabled: true
    },    
    series: [
    {
        data: <%= @course.overall_data %>,
        name: "Overall"
    },
    {
        data: <%= @course.challenge_data %>,
        name: "Challenge"
    },
    {
        data: <%= @course.interest_data %>,
        name: "Prior Interest"
    },
    {
        data: <%= @course.learned_data %>,
        name: "Amount Learned"
    }
    ]
    });




// the button action
    //var chart = $(container).highcharts(),
        $overall = $(overall);
    $overall.click(function() {
        var series = chart.series[0];
        if (series.visible) {
            series.hide();
            // $overall.html('Show series');
        } else {
            series.show();
            // $overall.html('Hide series');
        }
    });

    // the button action
    //var chart = $(container).highcharts(),
        $challenge = $(challenge);
    $challenge.click(function() {
        var series = chart.series[1];
        if (series.visible) {
            series.hide();
            // $challenge.html('Show series');
        } else {
            series.show();
            // $challenge.html('Hide series');
        }
    });

        // the button action
    //var chart = $(container).highcharts(),
        $prior_interest = $(prior_interest);
    $prior_interest.click(function() {
        var series = chart.series[2];
        if (series.visible) {
            series.hide();
            // $prior_interest.html('Show series');
        } else {
            series.show();
            // $prior_interest.html('Hide series');
        }
    });


            // the button action
    //var chart = $(container).highcharts(),
        $amount_learned = $(amount_learned);
    $amount_learned.click(function() {
        var series = chart.series[3];
        if (series.visible) {
            series.hide();
            // $amount_learned.html('Show series');
        } else {
            series.show();
            // $amount_learned.html('Hide series');
        }
    });



  });
</script>
<div id="container" style="height: 300px"></div>