<% @course.overall_query  %> 

<!-- <script src="http://code.highcharts.com/highcharts.js"></script> -->

<script type="text/javascript">
var ready;
ready = function() {
    var chart = new Highcharts.Chart({
      title: {text: null
          },
      chart: { renderTo: 'course_graph' },
        legend: {
            enabled: true
        },
        xAxis: {
            tickPositions: [],
            type: 'category',
            categories: []
        },
        yAxis: {
          max: 6,
          min: 1,
          title: {
            text: null
            }
        },
        colors: ['#7cb5ec', '#434348', '#90ed7d', '#f7a35c', '#8085e9', 
   '#f15c80', '#e4d354', '#2b908f', '#f45b5b', '#91e8e1'],
      tooltip: {
        shared: true,
        valueSuffix: ' students',
        formatter: function () {
          var n = this.x%10;
          var y = Math.floor(this.x/10);
          var s = n == 1 ? "Spring " : n==4 ? "Summer " : n==7 ? "Fall " : "Error ";
          var date = s+y+" :<br/>";
          var od = this.points[0].visible ? '' : '<span style="color:#7cb5ec">Challenge: </span>' + this.points[0].point.y + '<br/>';
          var av = this.points[1].visible ? '' : '<span style="color:#434348">Course Overall: </span>' + this.points[1].point.y + '<br/>';
          var ef = this.points[2].visible ? '' : '<span style="color:#90ed7d">Prior Interest: </span>' + this.points[2].point.y + '<br/>';
          var rs = this.points[3].visible ? '' : '<span style="color:#f7a35c">Amount Learned: </span>' + this.points[3].point.y + '<br/>';
          var parsed = "<b>"+s+y+"</b> : <br/>";
          return (this.y >= 1.0) ? (parsed + od + av +ef + rs) : parsed+"<br/>NOTE: during this semester, the instructor(s) of <br/>these course(s) did not return enough FCQs. As a result, <br/>this value is marked as 0.0. Student's cannot <br/>actually mark scores lower than 1.0. This <br/>value is meant to serve as an indicator <br/>of an error.";
          // return s+y+" : "+this.y;
      }
    },
    exporting: {
        buttons: {
            contextButtons: {
                enabled: false,
                menuItems: null
            }
        },
        enabled: true
    },    
    series: [
    {
        data: <%= @course.challenge_data %>,
        name: "Challenge"
    },
    {
        data: <%= @course.overall_data %>,
        name: "Course Overall"
    },
    {
        data: <%= @course.interest_data %>,
        name: "Prior Interest"
    },
    {
        data: <%= @course.learned_data %>,
        name: "Amount Learned"
    }
    ]
    });




// // the button action
//     //var chart = $(container).highcharts(),
//         $overall = $(overall);
//     $overall.click(function() {
//         var series = chart.series[0];
//         if (series.visible) {
//             series.hide();
//             // $overall.html('Show series');
//         } else {
//             series.show();
//             // $overall.html('Hide series');
//         }
//     });

//     // the button action
//     //var chart = $(container).highcharts(),
//         $challenge = $(challenge);
//     $challenge.click(function() {
//         var series = chart.series[1];
//         if (series.visible) {
//             series.hide();
//             // $challenge.html('Show series');
//         } else {
//             series.show();
//             // $challenge.html('Hide series');
//         }
//     });

//         // the button action
//     //var chart = $(container).highcharts(),
//         $priorinterest = $(priorinterest);
//     $priorinterest.click(function() {
//         var series = chart.series[2];
//         if (series.visible) {
//             series.hide();
//             // $priorinterest.html('Show series');
//         } else {
//             series.show();
//             // $priorinterest.html('Hide series');
//         }
//     });


//             // the button action
//     //var chart = $(container).highcharts(),
//         $howmuchlearned = $(howmuchlearned);
//     $howmuchlearned.click(function() {
//         var series = chart.series[3];
//         if (series.visible) {
//             series.hide();
//             // $howmuchlearned.html('Show series');
//         } else {
//             series.show();
//             // $howmuchlearned.html('Hide series');
//         }
//     });

};

$(document).ready(ready);
$(document).on('page:load', ready);
</script>
<div id="course_graph" style="height: 300px"></div>