<div id="header-wrapper">
	<div id="fcq_header" class="container">
		 <strong><%= @department.name %></strong><br> <br>
		<table><tr><td><bold><%= @department.get_campus %></bold></td><td><bold><%= @department.get_college %></bold></td></tr></table>
	</div>
</div>