<div id="header-wrapper">
	<div id="header" class="department">
		 <strong><%= @department.name %></strong><br><br><br><%= @department.long_name %> <br>
		<table><tr><td><bold><%= @department.get_college %></bold></td></tr></table>
	</div>
</div>