<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript">
  var ready;
  ready = function() {
    var chart = new Highcharts.Chart({
      title: {text: null
      },
      chart: { 
        type: 'area',
        alignTicks: false,
        renderTo: 'enrollment'
      },
      colors: ['#990033', '#007f46', '#004d7c'],
      legend: {
        enabled: true
      },
      xAxis: {
        tickPositions: [],
        type: 'category',
        categories: []
      },
      yAxis: {
        min: 0,
        title: {
          text: "enrollment"
        }
      },
      tooltip: {

        shared: true,
        formatter: function () {
          var n = this.x%10;
          var y = Math.floor(this.x/10);
          var s = n == 1 ? "<b>Spring " : n==4 ? "<b>Summer " : n==7 ? "<b>Fall " : "<b>Error ";
          s += y + '</b> :';
          var total = 0;
          // var total = this.points[0].point.y + this.points[1].point.y +this.points[2].point.y;
          $.each(this.points, function () {
            total += this.y;
          });
          s += "<br/>Total: "+ total +' students';
          $.each(this.points, function () {
                    s += '<br/><span style="color:' + this.series.color + '">' + this.series.name + '</span>: ' +
                        this.y + ' students';
                });
          return s;
        }
      },
      exporting: {
        buttons: {
          contextButtons: {
            enabled: false,
            menuItems: null
          }
        },
        enabled: true
      },

      plotOptions: {
        area: {
          stacking: 'normal',
          lineColor: '#666666',
          lineWidth: 1,
          marker: {
            lineWidth: 1,
            lineColor: '#666666'
          }
        }
      },

      series: [
      {
        data: <%= @department.data["gd_data"] %>,
        color: '#990033',
        name: "Graduate Level"
      },
      {
        data: <%= @department.data["ld_data"] %>,
        color: '#007f46',
        name: "Lower Division"
      },
      {
        data: <%= @department.data["ud_data"] %>,
        color: '#004d7c',
        name: "Upper Division"
      }
      ]
    });
};
$(document).ready(ready);
$(document).on('page:load', ready);
$(document).on('page:change', ready);
</script>



<div id="enrollment" style="height: 300px; float: right; top: -20px; z-index:-1" ></div>