<!-- 
<div id="spoiler" style="display:none"> 

<button title="FCQS" type="button" onclick="if(document.getElementById('spoiler') .style.display=='none') {document.getElementById('spoiler') .style.display=''}else{document.getElementById('spoiler') .style.display='none'}">FCQS</button>
</center> -->
<center>
<!-- <input class="spoilerbutton" type="button" value="Show" onclick="this.value=this.value=='Show'?'Hide':'Show';">

<div class="spoiler"><div> -->

<% @instructor.fcqs.each do |fcq| %>
<div id="Data" class=<%= fcq.color%>> <bold><%= fcq.rank_string%></bold> <%= link_to fcq.fcq_object, fcq_path(fcq)%> </div> <br>
<% end %>
<!-- </div> -->

<!-- </div></div> -->
</center>
