<div id="header-wrapper">
	<div id="error_header" class="error">
		 <%= image_tag "x_mark_64.png", alt: "Error!", title: "Error!"%>No FCQS were Returned!<br>
		<table><tr><td>The instructor did not return any fcqs for this course.<br>As a result, all the fields of this fcq have no value. <br>This FCQ record is included to indicate the course existed,<br> and was at one point taught.<br></td></tr></table>
	</div>
</div>