	<div id="error_header" class="error">
		 <%= image_tag "x_mark_64.png", alt: "Error!", title: "Error!"%><a href="#", alt="The instructor did not return any fcqs for this course.As a result, all the fields of this fcq have no value. This FCQ record is included to indicate the course existed, and was at one point taught." title="The instructor did not return any fcqs for this course. As a result, all the fields of this fcq have no value. This FCQ record is included to indicate the course existed, and was at one point taught.">No FCQS were Returned!</a>
	</div>
