<footer class="footer">

  <!-- Add the title in the footer so it otherwise loads the custom title by default from the instructor or course page -->
  <title>CU FCQ</title>
  <nav>
    <ul>
      <li><%= link_to "Github",   'https://github.com/antsankov/cufcq_dev' %></li>
      <li><%= link_to "About",   '/about' %></li>
    </ul>
  </nav>
  
<!--   !!!NOTE TO SELF IN FUTURE: PUT GOOGLE ANALYTICS HERE!!!!! -->
</footer>
