<footer class="footer">
  <nav>
    <ul>
    
      <li><%= link_to "Github",   'https://github.com/untra/rpt' %></li>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>