<% @instructor.overall_query  %>

<script src="http://code.highcharts.com/highcharts.js"></script>

<script type="text/javascript">
  $(function () {
    new Highcharts.Chart({
      title: {text: null
          },
      chart: { renderTo: 'container' },
        legend: {
            enabled: true
        },
        xAxis: {
            tickPositions: [],
            type: 'category',
            categories: []
        },
        yAxis: {
          max: 6,
          min: 0,
          title: {
            text: null
            }
        },
      tooltip: {
        formatter: function () {
          var n = this.x%10
          var y = Math.floor(this.x/10);
          var s = n == 1 ? "Spring " : n==4 ? "Summer " : n==7 ? "Fall " : "Error "
          return s+y+" : "+this.y
      }
    },
    exporting: {
        buttons: {
            contextButtons: {
                enabled: false,
                menuItems: null
            }
        },
        enabled: true
    },    
    series: [
    {
        data: <%= @instructor.overall_data %>,
        name: "Overall"
    },
    {
        data: <%= @instructor.availability_data %>,
        name: "Availability"
    },
    {
        data: <%= @instructor.effectiveness_data %>,
        name: "Effectiveness"
    },
    {
        data: <%= @instructor.respect_data %>,
        name: "Respect"
    }
    ]
    });
  });
</script>
<div id="container" style="height: 300px"></div>