<% @instructor.overall_query  %>
<script type="text/javascript">
var ready;
ready = function() {
    var chart = new Highcharts.Chart({
      title: {text: null
          },
      chart: { renderTo: 'instr' },
        legend: {
            enabled: true
        },
        xAxis: {
            tickPositions: [],
            type: 'category',
            categories: []
        },
        yAxis: {
          max: 6,
          min: 0,
          title: {
            text: null
            }
        },
      tooltip: {
        shared: true,
        formatter: function () {
        //this.x is the yearterm (eg: 20127 is Fall 2012)
        //gets the semester indicator digit
          var n = this.x%10;
        //gets the year
          var y = Math.floor(this.x/10);
        //from the semester indicator n, gets the semester as a string
          var s = n == 1 ? "Spring " : n==4 ? "Summer " : n==7 ? "Fall " : "Error ";
          var date = s+y+" :<br/>";
          //var n = this.x%10
          //var y = Math.floor(this.x/10);
          //var s = n == 1 ? "Spring " : n==4 ? "Summer " : n==7 ? "Fall " : "Error "
          var od = this.points[0].visible ? '' : '<span style="color:#7cb5ec">Instr Overall: </span>' + this.points[0].point.y + '<br/>';
          var av = this.points[1].visible ? '' : '<span style="color:#434348">Availability: </span>' + this.points[1].point.y + '<br/>';
          var ef = this.points[2].visible ? '' : '<span style="color:#90ed7d">Effectiveness: </span>' + this.points[2].point.y + '<br/>';
          var rs = this.points[3].visible ? '' : '<span style="color:#f7a35c">Instr Respect: </span>' + this.points[3].point.y + '<br/>';
          var er = (this.y >= 1.0) ? '' : "<br/>NOTE: during this semester, this instructor <br/>did not return any FCQs. As a result, this <br/>value is marked as 0.0. Student's cannot <br/>actually mark scores lower than 1.0. This <br/>value is meant to serve as an indicator <br/>of an error.";
          return date + od + av +ef + rs + er;
      }
    },
    exporting: {
        buttons: {
            contextButtons: {
                enabled: false,
                menuItems: null
            }
        },
        enabled: true
    },    
    series: [
    {
        data: <%= @instructor.overall_data %>,
        name: "Overall"
    },
    {
        data: <%= @instructor.availability_data %>,
        name: "Availability"
    },
    {
        data: <%= @instructor.instreffective_data %>,
        name: "Effectiveness"
    },
    {
        data: <%= @instructor.instrrespect_data %>,
        name: "Respect"
    }
    ]
    });

 // the button action
    //var chart = $(container).highcharts(),
        $overall = $(overall);
    $overall.click(function() {
        var series = chart.series[0];
        if (series.visible) {
            series.hide();
            // $overall.html('Show series');
        } else {
            series.show();
            // $overall.html('Hide series');
        }
    });

    // the button action
    //var chart = $(container).highcharts(),
        $availability = $(availability);
    $availability.click(function() {
        var series = chart.series[1];
        if (series.visible) {
            series.hide();
            // $availability.html('Show series');
        } else {
            series.show();
            // $availability.html('Hide series');
        }
    });

        // the button action
    //var chart = $(container).highcharts(),
        $instreffective = $(instreffective);
    $instreffective.click(function() {
        var series = chart.series[2];
        if (series.visible) {
            series.hide();
            // $instreffective.html('Show series');
        } else {
            series.show();
            // $instreffective.html('Hide series');
        }
    });


            // the button action
    //var chart = $(container).highcharts(),
        $instrrespect = $(instrrespect);
    $instrrespect.click(function() {
        var series = chart.series[3];
        if (series.visible) {
            series.hide();
            // $instrrespect.html('Show series');
        } else {
            series.show();
            // $instrrespect.html('Hide series');
        }
    });

};

$(document).ready(ready);
$(document).on('page:load', ready);
//$(document).on('page:change', ready);
</script>
<div id="instr" style="height: 300px"></div>
<!-- <button id="button">Toggle visibility</button> -->